agl-web/agl-web.DataLayer/bin/
agl-web/agl-web.DataLayer/obj/
agl-web/agl-web.Tests/bin/Debug/Newtonsoft.Json.dll
agl-web/agl-web.Tests/bin/
agl-web/agl-web.Tests/obj/
agl-web/agl-web/bin/
agl-web/agl-web/obj/
